:root {
  --primary-font-color: #2e2f42;
  --secondary-font-color: #ffffff;
  --accrnt-font-color: #4d5ae5;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --main-background-color: #2e2f42;
  --accrnt-background-color: #4d5ae5;
}

.list {
  list-style: none;
}

body {
  background-color: var(--primary-background-color);

  color: var(--primary-font-color);
  font-family: "Roboto", sans-serif;
	font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Logo */
.logo {
  color: var(--primary-font-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
	text-decoration: none;
}

.logo-accent {
  color: var(--accrnt-font-color);
}

/* Nav */
.nav-list .link {
  color: var(--primary-font-color);
  font-weight: 500;
	text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accrnt-font-color);
}

/* Address */
.address-list .link {
  color: var(--primary-font-color);
  font-style: normal;
	text-decoration: none;
}

/* Main */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

/* Hero */
.hero-container {
  background-color: var(--main-background-color);
}

.hero-title {
  color: var(--secondary-font-color);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.hero-button {
  background-color: var(--accrnt-background-color);

  color: var(--secondary-font-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

	cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
	background-color: #f4f4fd;

  color: var(--accrnt-font-color);
}

/* Filtr */
.filtr-list .button {
  background-color: #f4f4fd;

  color: var(--accrnt-font-color);
  font-family: inherit;
	font-size: 16px;
  line-height: 1.5;
	letter-spacing: 0.04em;

	cursor: pointer;
}

.filtr-list .button:hover,
.filtr-list .button:focus {
  background-color: #404bbf;
  color: var(--secondary-font-color);
}

.advantages-list .title,
.team-list .title,
.works-list .title {
  color: var(--primary-font-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2x;
}

/* Team */
.section.team{
	background-color: #E5E5E5;
}

.team-label{
	background-color: var(--primary-background-color);
}

/* Works */
.work-link{
	text-decoration: none;
}

/* Footer */
.footer-container {
  background-color: var(--main-background-color);
}

.logo.footer {
  color: var(--secondary-font-color);
}

.footer-text {
  color: var(--secondary-font-color);
}
